<app-nav></app-nav>
<body>
    <div class="aboutUsContainer mat-elevation-z8">
        <h1 class="text" style="font-size: 2rem; padding-left: 2rem; padding-top: 2rem;">Rólunk</h1>
        <p class="text">Üdvözöllek az <strong>SZTE Survivors</strong> tetováló szalon oldalán :)</p>
        <p class="text">Az oldalon lehetőséged van időpontot foglalni egy szuper tetoválás készítésére, amennyiben regisztráltál.</p>
        <p class="text">A tetoválásod árának meghatározásához használd az árkalkulátor menüpontot.</p>
        <br>
        <p class="text">Fordulj hozzánk bizalommal, elérhetőségünk:</p>
        <p><mat-icon>alternate_email</mat-icon> sztesurvhelp@tattoo.hu</p>
        <p><mat-icon>call</mat-icon> 0650123-4567</p>
        <img src="assets/svgs/welcome.svg" class="img" alt="">
    </div>
</body>